#contact_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.contact_info{
    font-size: 26px;
    text-align: center;
}

.no_data {
    text-align: center;
}

.edit_button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15vw;
    margin: auto;
}

.edit_button {
    border-radius: 12px;
    background-color: var(--bs-orange);
    color: var(--bs-light);
    border-style: none;
    padding: 6px 24px 6px 24px;
}

.edit_button:hover {
    background-color: var(--bs-highlight-bg);
    color: black;
}

#edit_box_wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 10vh 25vw 40vh 25vw;
    width: 50vw;
    height: 50vh;
    z-index: 3;
    border-radius: 6px;
    background-color: var(--bs-dark);

}

#edit_form {
    display: flex;
    flex-direction: column;
}

